*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/google-services.json
backend/src/main/webapp/WEB-INF/ToDoFirebaseProject-69c120177383.json
backend/build/